<div class="container">
<hr>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="btn-group btn-group-justified" role="group">
      <a href="/rock" class ="btn btn-block btn-primary" role ="button">Play Rock</a>
      <a href="/paper" class ="btn btn-block btn-primary" role ="button">Play Paper</a>
      <a href="/scissors" class ="btn btn-block btn-primary" role ="button">Play Scissors</a>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-offset-2 col-md-4">
      <div class="panel panel-success">
        <div class="panel-heading text-center">
          <p>You played</p>
          <h2>Paper</h2>
        </div>
        <div class="panel-body">
          <img class = "img-responsive" src="http://localhost:3000/assets/images/paper.png"</img>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-danger">
        <div class="panel-heading text-center">
          <p>The computer played</p>
          <h2><%=@computer_move%></h2>
        </div>
        <div class="panel-body">
          <img class = "img-responsive" src="<%=@comp_image_url%>"</img>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12 text-center">
        <h1>
          <span class="label <%=@label_color%>"><%=@outcome%></span>
        </h1>
    </div>
  </div>
</div>
