<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> Stanley: RockPaperScissors</title>
  <!-- Connect to Bootstrap CSS -->
  <link rel="stylesheet" href="../../../public/assets/css/bootstrap.css">

</head>
<body>

  <div class="container">
    <div class="row horizontal-rule">
      <div class="col-xs-12">
        <hr>
      </div>
    </div>
    <div class="row play-option-buttons">
      <div class="col-sm-3"></div>
      <div class="play-rock col-sm-2">
        <p>
          play rock
        </p>
      </div>
      <div class="play-paper col-sm-2">
        <p>
          play paper
        </p>
      </div>
      <div class="play-scissors col-sm-2">
        <p>
          play scissors
        </p>
      </div>
      <div class="col-sm-3"></div>
    </div>
    <div class="row horizontal-rule">
      <div class="col-xs-12">
        <hr>
      </div>
    </div>
    <div class="row options-played">
      <div class="col-sm-3"></div>
      <div class="human-play col-sm-3">
        <p>human played</p>
      </div>
      <div class="ai-play col-sm-3">
        a<p>i played</p>
      </div>
      <div class="col-sm-3"></div>
    </div>
    <div class="row option-pics">
      <div class="col-sm-3"></div>
      <div class="human-play-pic col-sm-3">
        <p>human pic</p>
      </div>
      <div class="ai-play-pic col-sm-3">
        <p>
          ai pic
        </p>
      </div>
      <div class="col-sm-3"></div>
    </div>
    <div class="row game-result">
      <div class="col-sm-5"></div>
      <div class="result col-sm-2">
        <p>
          you win
        </p>
      </div>
      <div class="col-sm-5"></div>
    </div>
  </div>



</body>
</html>
