<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well text-center">
        <h1>
          <span class="label label-danger">
            You lost!
          </span>
        </h1>
      </div>
    </div>
  </div>
</div>
