<body>
<div class="row">
  <div class="result col-md-12">
    <h1>
    <div class="well text-center">
        <span class="label label-warning">
        You tied!
        </span>
    </div>
  </h1>
  </div>
</div>
