<div class="container">
  <hr>
  <div class="row play_btn">
    <div class="col-md-offset-2 col-md-8">
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <a href="/rock" class="btn btn-block btn-primary">Play Rock</a>
        <a href="/paper"class="btn btn-block btn-info">Play Paper</a>
        <a href="/scissors"class="btn btn-block btn-primary">Play Scissors</a>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row output_image">
  <div class="col-md-offset-2 col-md-4">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <img src="/assets/images/rock.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
<div class="row result_btn">
  <div class="col-xs-12"></div>
</div>
</div>
