<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <hr>
      <div class="btn-group btn-group-justified">
        <a href="/rock" class="btn btn-block btn-primary"> Play Rock </a>
        <a href="/paper" class="btn btn-block btn-primary"> Play Paper </a>
        <a href="/scissors" class="btn btn-block btn-primary"> Play Scissors </a>
      </div>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-4">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h2 class="panel-title text-center">
            <%= @user_move %>
          </h2>
        </div>
        <div class="panel-body">
          <% if @user_move=="rock" %>
          <img class="img-responsive" src="/assets/images/rock.png">
          <% elsif @user_move=="paper" %>
          <img class="img-responsive" src="/assets/images/paper.png">
          <% else %>
          <img class="img-responsive" src="/assets/images/scissors.png">
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h2 class="panel-title text-center">
            <%= @computer_move %>
          </h2>
        </div>
        <div class="panel-body">
          <% if @computer_move=="rock" %>
          <img class="img-responsive" src="/assets/images/rock.png">
          <% elsif @computer_move=="paper" %>
          <img class="img-responsive" src="/assets/images/paper.png">
          <% else %>
          <img class="img-responsive" src="/assets/images/scissors.png">
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class= "well text-center">
        <h1>
          <span class="label label-success">
            <%= @result %>
          </span>
        </h1>
      </div>
    </div>
  </div>
</div>
